# Godot 4+ specific ignores
godot/.godot/
/android/

# My rust output
rust/target/

# VIM swap files
*.swp

# VSCode configuration for debugging. See
# https://godot-rust.github.io/book/toolchain/debugging.html
rust/.vscode/
